<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Reset Password</title>

<link rel="stylesheet" th:href="@{/css/login.css}">

</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h1>Reset Password</h1>

        <p class="subtitle">
            Enter your new password
        </p>

        <form action="/reset-password" method="post">

            <input
                    type="hidden"
                    name="email"
                    th:value="${email}">

            <div class="input-group">

                <input
                        type="password"
                        name="newPassword"
                        placeholder="New Password"
                        required>

            </div>

            <div class="input-group">

                <input
                        type="password"
                        name="confirmPassword"
                        placeholder="Confirm Password"
                        required>

            </div>

            <button
                    class="login-btn"
                    type="submit">

                Reset Password

            </button>

        </form>

        <p
            th:if="${error}"
            th:text="${error}"
            style="color:red;text-align:center;margin-top:15px;">
        </p>

    </div>

</div>

</body>

</html>